* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap {
  gap: 10;
}

.space-bw {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.mb-4 {
  margin-bottom: 14px;
}

.p-2 {
  padding: 0 16px;
}

label {
  font-family: sans-serif;
}

input {
  width: 300px;
  outline: none;
  height: 30px;
}

nav > ul > li {
  margin: 16px 0;
}

header {
  margin: 0 auto;
  box-shadow: 0 1px 5px 1px gray;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.8);
  color: white;
  border-bottom: 1px solid gray;
}

.text-center {
  text-align: center;
}

.py-10 {
  padding: 20px 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.w-5 {
  width: 20%;
}

.section-title::first-letter{
  color: #068fff;
  font-size: 30px;
}

.product-item {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
}

.product-content > h3 {
  font-weight: 400;
  font-family: sans-serif;
  font-size: 16px;
}

.product-content > p {
  font-weight: 600;
}
